*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}


.top-menu{
    height:50px;
    text-align: center;
}

.list-unstyled li a{
    text-decoration: none;
    color:black;
    padding:0 10px;
}