*{
    margin:0 !important;
    padding:0 !important;
    box-sizing:border-box !important;
}


.top-menu{
    height:50px;
     text-align: left;
}

.top-menu a{
    text-decoration: none !important;
    transition: all 700ms;
}

.top-menu a:hover{
    color:rgb(25,135,84) !important;
}



.list-unstyled li a{
    text-decoration: none;
    color:black;
    padding:0 10px !important;
}

a{
    text-decoration: none !important;
}

.profile{
    width:50px;
    height:50px;
}

.profile img:hover{
    filter:opacity(0.6);
}

.intro2{
    text-align: center;
}


.intro3{
    text-align: center;
}

.alireza-img{
    height: 560px;
}


.text{
    text-align: center;
}


.frount-end{
    margin-left:90px !important;
}

.work{
    margin-left: 220px !important;
}

.Service{
    margin-top:100px !important;
}

.ABOUT-header{
    margin-top: 350px !important;
}

.git-git a{
    text-decoration:none;
    font-size: 0.9em;
}


.coding-picture{
    height: 450px !important;
}

.myskills-part{
    margin-top:350px !important;
}

.text-1{
    text-align:  right !important;
}

.end-part{
    background-image:url(old-stone-gray-concrete-wall-room_88088-848.avif);
    background-repeat:no-repeat;
    background-size:cover;
    background-attachment:scroll;
    
}

.fgfg{
    display:inline-block;
    margin-top:150px !important;
}

.on-bg{
    background-color: rgba(255,255,255,0.2) !important;
    z-index: 12;
}

.input-form-e{
    width:45% !important;
}


input{
    background-color: rgba(0,0,0,0.5);
    outline: none;
    border: none;
    color:rgba(248, 247, 247, 0.5);
}

.masage1{
    height:150px !important;
}


.top-back{
    position: fixed;
    top:90%;
    left:2%;
}